.app {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
	max-width: 1024px;
	margin: auto;
	.header,
	.footer {
		/* height: auto; */
	}
}
.main {
	display: grid;
	/* height: 100%; */
	/* max-width: 1440px; */
	/* margin: auto; */
	.intro,
	.assesments,
	.definition {
		background-image: url("../assets/img/bg_2.webp");
	}
	.definition {
		background-position-y: center;
	}
	.assesments {
		background-position-y: bottom;
	}
}
