@media (min-aspect-ratio: 1536/1024) {
	.app {
		/* max-height: 100vh; */
		/* overflow: hidden; */
	}
	.main {
		/* width: 100vw; */
		/* height: 100%; */
		/* min-height: 100%; */
		/* flex-grow: 1; */
	}
	.papyrus {
		/* height: 100%; */
		/* min-height: 100%; */
		/* background-image: url(../assets/img/layout_1536_1024.webp); */
		/* background-size: contain; */
		/* background-repeat: no-repeat; */
		/* background-size: contain; */
		/* background-position: center; */
		/* aspect-ratio: 1536/1024; */
		/* aspect-ratio: unset; */
		/* position: relative; */
		/* max-height: calc(100% / 1.5); */
		canvas {
			outline: 5px dashed green;
			outline-offset: -1em;
		}
	}
}
