.app {
	/* --translate_X: -10%; */
}
.app {
	max-width: 1440px;
	height: inherit;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: auto;
	background-color: blanchedalmond;
	/* background-image: radial-gradient(
			circle at center,
			transparent 0%,
			hsl(35 80 20 / 0.7) 50%
		),
		url(../my_junctions/photos/geometry/Ancient_clay_tablet_with_geometric_symbols.webp); */
	/* background-size: cover;
	background-position: center;
	background-blend-mode: hard-light; */
}
.app::before,
.app::after {
	content: "";
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}
.app::before {
	background-image: url(../my_junctions/photos/geometry/coin.webp);
	z-index: 2;
	background-size: contain;
	border-radius: 50%;
	display: grid;
	width: 7em;
	height: 7em;
	place-content: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: hard-light;
	cursor: pointer;
	transition: transform 300ms ease, box-shadow 300ms ease;
	pointer-events: none;
}
.app:hover::before {
	transform: perspective(800px) rotateX(6deg) rotateY(-6deg);
}
.app::after {
	/* background-image: radial-gradient(
		circle at 50% 50%,
		hsl(15, 45%, 50%),
		 hsl(45, 55%, 60%),
		hsl(36, 45%, 56%)
	); */
	background-image: url(../my_junctions/photos/geometry/geometry_tools.webp),
		radial-gradient(circle at 50% 50%, white, white);
	z-index: 1;
	background-size: 100%;
}
/* .app::before,
.app::after {
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	background-image: radial-gradient(
			circle at center,
			transparent 0%,
			hsl(35 80 20 / 0.7) 50%
		),
		url(./photos/geometry/aged_parchment_with_geometric_designs.webp);
	background-size: cover;
	background-position: center;
	background-blend-mode: hard-light;
	opacity: 0.5;
}
.app::before {
	transform: perspective(400px) rotateY(45deg) translateX(-100px);
	transform: perspective(2000px) rotateY(25deg)
		translateX(calc(-1 * var(--translate_X)));
	left: 0;
}
.app::after {
	transform: perspective(400px) rotateY(-45deg) translateX(100px);
	transform: perspective(2000px) rotateY(-25deg) translateX(var(--translate_X));
	right: 0;
	z-index: -1;
} */
/* ... */
header {
	opacity: 0.8;
	/* mix-blend-mode: color-burn; */
	/* display: flex; */
	gap: 1em;
	align-items: center;
	/* margin-bottom: 20px; */
	padding: 0.3em 0 0.9em;
	/* background: hsl(0 50 100 / 0.2); */
	background: hsl(32 57 48 / 1);
	background: hsl(35 40 92 / 1);
	background: hsl(28 30 15 / 1);
	background: hsl(95 15 45 / 0.75);
	box-shadow: 0px 2px 3px hsl(0 50 0 / 0.8);
	.header_logo {
		display: none;
		background-image: url(./my_junctions/photos/geometry/geometry_tools_WH_150x100px.jpg);
		aspect-ratio: 1536/1024;
		width: 100px;
		background-size: contain;
		height: calc(102400px / 1536);
	}
	.header_text {
		text-align: center;
		h1 {
			text-shadow: 1px 1px hsl(120 100 100 / 0.8);
			font-size: 2.5em;
			color: hsl(248.46deg 39% 39.22%);
		}
	}
}

.subtitle {
	color: hsl(0, 0%, 0%);
}

canvas {
	/* border: 1px solid #ddd; */
	margin-bottom: 10px;
	background: hsl(0 50 100 / 0.5);
	/* width: 90%; */
	/* height: auto; */
	display: block;
}

.controls {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

label {
	display: flex;
	flex-direction: column;
}

#exercise input {
	width: 80px;
}
.footer {
	background: hsl(28 30 15 / 0.75);
	text-align: center;
	padding: 0.3em 0 0.9em;
	/* mix-blend-mode: overlay; */
	opacity: 0.8;
	color: ghostwhite;
	p {
	}
}
