/* CSS Reset File */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

body {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
}

button, input, select, textarea {
    font-family: inherit;
}

/* Add your reset styles here */
