.scene {
	perspective: 600px;
	.scene_box {
		padding-block: 3em;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		display: grid;
		grid-template-areas: "left center center right";
		section {
			width: 100%;
			height: 100%;
			/* background-color: hsl(0, 59%, 41%); */
			position: absolute;
			border: 5px dashed;
			/* data-border */
			--border-color: attr(data-border type(<custom-ident>));
			border-color: if(
				style(--border-color: color_1): hsl(0 59 41 / 1) ;
					style(--border-color: color_2): hsl(120 59 41 / 1) ;
					style(--border-color: color_3): hsl(240 59 41 / 1) ; else: grey;
			);
			/* data-grid_area */
			--grid-area: attr(data-grid_area type(<custom-ident>));
			grid-area: if(
				style(--grid-area: left): left; style(--grid-area: center): center;
					style(--grid-area: right): right;
			);
			transform: if(
				style(--grid-area: left): rotateY(15deg) ; style(--grid-area: center):
					rotateY(0deg) ; style(--grid-area: right): rotateY(-15deg) ;
			);
			transform-origin: if(
				style(--grid-area: left): right; style(--grid-area: center): center;
					style(--grid-area: right): left;
			);
			width: if(
				style(--grid-area: left): 70%; style(--grid-area: center): 100%;
					style(--grid-area: right): 70%;
			);
			right: if(style(--grid-area: left): 0px;);
		}
		section {
			display: grid;
			place-items: center;
			background-image: radial-gradient(
					circle at center,
					transparent 0%,
					hsl(31.89deg 64.16% 66.08% / 0.5) 50%
				),
				url(../my_junctions/photos/geometry/Ancient_clay_tablet_with_geometric_symbols.webp);
			/* background-image: url(../my_junctions/photos/geometry/Ancient_clay_tablet_with_geometric_symbols.webp); */
			background-blend-mode: color-burn;
			background-size: cover;
		}
		section:nth-of-type(1) {
			background-position: left;
		}
		section:nth-of-type(2) {
			background-position: center;
		}
		section:nth-of-type(3) {
			background-position: right;
		}
	}
}
