* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	position: relative;
}
html,
body {
	height: 100%;
}
body {
	background: #111;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
}
.app {
	/* width: 1536px; */
	max-width: 1536px;
	margin: auto;
}
.papyrus-section {
	position: relative;
	width: 1536px;
	height: 1024px;
	margin: auto;
	/* height: 100vh; */
	/* padding: 4rem; */

	/* display: flex;
	align-items: center;
	justify-content: center; */

	background-image: url("./assets/img/layout_2.webp");
	background-size: cover;
	background-position: center;

	/* color: #2b1e12;
	overflow: hidden; */
	cursor: crosshair;
}

.papyrus-section::after {
	/* subtle darkening veil */
	/* content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.15);
	z-index: 1; */
}
#selection {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 120px;
	height: 120px;

	border: 2px dashed rgba(0, 0, 0, 0.6);
	background: rgba(255, 255, 255, 0.15);

	cursor: move;
}
#controls {
	position: absolute;
	right: 20px;
	top: 20px;

	background: rgba(255, 255, 255, 0.85);
	padding: 10px;
	border-radius: 6px;

	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 6px;
}
#controls label {
	display: flex;
	gap: 4px;
	font-size: 12px;
}

#controls input {
	width: 60px;
}
.reveal-canvas {
	position: absolute;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: auto;
	box-shadow: 0px 0px 10px hsl(210 100 50 / 0.8);
}

.reveal-canvas:hover {
	opacity: 0.2;
}
h1 {
	position: relative;
	z-index: 2;
	font-size: 2.5rem;
	letter-spacing: 0.04em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
canvas {
	border: 1px solid hsl(0, 0%, 100% / 0.1);
}
/* canvas {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	transition: opacity 5s ease;

	z-index: 0;
	pointer-events: none;
}

canvas.active {
	opacity: 1;
} */
